body {
  background: #dff;
  text-align: center;
}
#game {
  position: relative;
  width: 640px;
  height: 480px;
  margin: auto;
}
.tile {
  position: absolute;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  width: 36px;
  height: 48px;
  background: #fff;
  box-shadow: 5px 5px 10px #000;
}
.tile.clickable:hover {
  box-shadow: 5px 5px 10px #000, 0 0 14px #000;
}
.selected,
.selected:hover {
  box-shadow: inset 0 0 14px #000, 0 0 14px #000, 5px 5px 10px #000;
}
.tile {
  width: 36px;
  height: 48px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/52785/tiles.png');
  background-repeat: no-repeat;
}
.tile.tile-1 {
  background-position: 0px 0px;
}
.tile.tile-2 {
  background-position: -36px 0px;
}
.tile.tile-3 {
  background-position: -72px 0px;
}
.tile.tile-4 {
  background-position: 0px -48px;
}
.tile.tile-5 {
  background-position: -36px -48px;
}
.tile.tile-6 {
  background-position: -72px -48px;
}
.tile.tile-7 {
  background-position: -108px 0px;
}
.tile.tile-8 {
  background-position: -108px -48px;
}
.tile.tile-9 {
  background-position: 0px -96px;
}
.tile.tile-10 {
  background-position: -36px -96px;
}
.tile.tile-11 {
  background-position: -72px -96px;
}
.tile.tile-12 {
  background-position: -108px -96px;
}
.tile.tile-13 {
  background-position: -144px 0px;
}
.tile.tile-14 {
  background-position: -144px -48px;
}
.tile.tile-15 {
  background-position: -144px -96px;
}
.tile.tile-16 {
  background-position: -180px 0px;
}
.tile.tile-17 {
  background-position: -180px -48px;
}
.tile.tile-18 {
  background-position: -180px -96px;
}
.tile.tile-19 {
  background-position: 0px -144px;
}
.tile.tile-20 {
  background-position: -36px -144px;
}
.tile.tile-21 {
  background-position: -72px -144px;
}
.tile.tile-22 {
  background-position: -108px -144px;
}
.tile.tile-23 {
  background-position: -144px -144px;
}
.tile.tile-24 {
  background-position: -180px -144px;
}
.tile.tile-25 {
  background-position: -216px 0px;
}
.tile.tile-26 {
  background-position: -216px -48px;
}
.tile.tile-27 {
  background-position: -216px -96px;
}
.tile.tile-28 {
  background-position: -216px -144px;
}
.tile.tile-29 {
  background-position: 0px -192px;
}
.tile.tile-30 {
  background-position: -36px -192px;
}
.tile.tile-31 {
  background-position: -72px -192px;
}
.tile.tile-32 {
  background-position: -108px -192px;
}
.tile.tile-33 {
  background-position: -144px -192px;
}
.tile.tile-34 {
  background-position: -180px -192px;
}
.tile.tile-35 {
  background-position: -216px -192px;
}
.tile.tile-36 {
  background-position: -252px 0px;
}
.tile.tile-37 {
  background-position: -252px -48px;
}
.tile.tile-38 {
  background-position: -252px -96px;
}
.tile.tile-39 {
  background-position: -252px -144px;
}
.tile.tile-40 {
  background-position: -252px -192px;
}
.tile.tile-41 {
  background-position: 0px -240px;
}
.tile.tile-42 {
  background-position: -36px -240px;
}